<!doctype html>
<html lang="en" ng-app="bddApp">
    <head>
        <title>
            Bdd Creator
        </title>    
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/bdd.css">
    <script src="lib/angular/angular.js"></script>
    <script src="js/app/controllers.js"></script>
    
    </head>
    <body>
        <div class="container" ng-controller="DescriptionCtrl">
            <div class="row">
                <div class="col-sm-2">
                    <strong>As a</strong>
                </div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="role" ng-model="role" autofocus/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <strong>I want to</strong>
                </div>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" id="action" ng-model="action"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <strong>So</strong>
                </div>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" id="reason" ng-model="reason"></textarea>
                </div>
            </div>
            <div class="scenario" ng-repeat="scenario in scenarios">
                Scenario {{$index}}
                <div class="row">
                    <div class="col-sm-2">
                         <strong>Given</strong>
                    </div>
                        <div class="col-sm-10">
                        <textarea class="form-control" rows="2" ng-model="scenario.given"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                         <strong>When</strong>
                    </div>
                        <div class="col-sm-10">
                        <textarea class="form-control" rows="3" ng-model="scenario.when"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                         <strong>Then</strong>
                    </div>
                        <div class="col-sm-10">
                        <textarea class="form-control" rows="3" ng-model="scenario.then"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <button ng-click="addScenario()">Add</button> 
                </div>
            </div>   
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Jira formatted
                    </div>
                    <div class="panel-body">
                        {{formatJira2()}}
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Scenarios
                    </div>
                    <div class="panel-body">
                        {{scenarios}}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>